In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from datetime import datetime

In [6]:
df = pd.read_csv(r"C:\Users\maraw\OneDrive\Desktop\final project\marawanRadi.csv")

df["ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟"] = df["ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟"].fillna('n/a')


df['date'] = pd.to_datetime(df['طابع زمني'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df.drop('طابع زمني', axis=1, inplace=True)

df.drop('date', axis=1, inplace=True)

In [4]:


df

,السنة الدراسية,هل ترى التعليم عن بعد مفيد ومهم؟,ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟,من أين علمت عن جينيس؟,مكان السكن,بلد الإقامة,id,year,month,day
0,الصف الثاني,نعم,القاعدة النورانية,من الفيس,الخفجي,NaN,4550,2022,8,13
1,الصف الاول الاعدادي,نعم,"كورس اللغة الإنجليزية, كورس اللغة الألمانية, م...",الفيسبوك,NaN,NaN,4551,2022,8,13
2,ثانيه ثانوي,لا,"دبلومة البرمجة المتخصصة, كورس اللغة الإنجليزية",الفيس بوك,عين شمس,NaN,4552,2022,8,13
3,اولي ثانوي,نعم,n/a,من الفيس بوك,2023-10-06 00:00:00,NaN,4553,2022,8,13
4,٣ ابتدائي,ربما,"مبدائ البرمجة التأسيسية, القارئ المثقف, المستك...",Facebook,العبور,NaN,4554,2022,8,13
...,...,...,...,...,...,...,...,...,...,...
145,خريجة,نعم,مبدائ البرمجة التأسيسية,الفيس,البحر الأحمر مدينة رأس غارب,NaN,4695,2022,8,26
146,خريجة 2014,نعم,"المدرسة الاونلاين, دبلومة البرمجة المتخصصة, كو...",Facebook,الاسماعيلية,NaN,4696,2022,8,27
147,اول إعدادي,نعم,n/a,NaN,راس سدر.جنوب سيناء,NaN,4697,2022,8,27
148,الصف الثانى الابتدائى,ربما,القاعدة النورانية,الفيس بوك,اكتوبر,NaN,4698,2022,8,27
149,الصف السادس الابتدائي,ربما,دبلومة البرمجة المتخصصة,الفيس بوك,صفط الحنا ابوحماد شرقيه,NaN,4699,2022,8,27

In [8]:




df['هل ترى التعليم عن بعد مفيد ومهم؟'].replace({'نعم' : 'Yes', 'لا' : "no", "ربما":"maybe"},inplace=True)
df["هل ترى التعليم عن بعد مفيد ومهم؟"].unique()

array(['Yes', 'no', 'maybe'], dtype=object)

In [9]:
def sucial(value):
    value_lower = value.lower()
    if re.search(r'fb|اعلان|فيس|face|بوست|إعلان',value_lower):
        return"Facebook"

    elif re.search(r'الانترنت|internet|net|النت|تواصل|ميديا',value_lower):
        return "social media"
    elif re.search(r'اليوتيوب',value_lower):
        return "youtube"
    elif re.search(r'اهلي|الاصدقاء|friend|الاقارب|صديق|اخت',value_lower):
        return "friend"
    else:
        return"N/A"
df["من أين علمت عن جينيس؟"] = df["من أين علمت عن جينيس؟"].astype(str)
df["من أين علمت عن جينيس؟"] = df["من أين علمت عن جينيس؟"].apply(sucial)
df["من أين علمت عن جينيس؟"].unique()

array(['Facebook', 'social media', 'friend', 'N/A', 'youtube'],
      dtype=object)

In [10]:
import re

def funuii(value):
    value_lower = value.lower()

    if re.search(r'جريد|7|8|gr|5|سادس|صف|grade|جريد|جريد', value_lower):
        if re.search(r'1|١|ول', value_lower):
            return "first primary (Elementary School)"
        elif re.search(r'٢|2|ثان|تان', value_lower):
            return "second primary (Elementary School)"
        elif re.search(r'٣|3|ثال|تال', value_lower):
            return "third primary (Elementary School)"
        elif re.search(r'٤|4|رابع', value_lower):
            return "Fourth primary (Elementary School)"
        elif re.search(r'٥|5|خمس|خامس', value_lower):
            return "fifth primary (Elementary School)"
        elif re.search(r'سات|6|ساد', value_lower):
            return "Sixth primary (Elementary School)"
        elif re.search(r'ساب|7|٧', value_lower):
            return "first Year of Middle School"
        elif re.search(r'تامن|ثامن|8|٨', value_lower):
            return "second Year of Middle School"
        elif re.search(r'تاس|9|٩', value_lower):
            return "Third Year of Middle School"
        else:
            return "n/a"
    elif re.search(r'متخرج|دبلوم|بكال|دبلوم|قسم|خلص|خريج', value_lower):
        return "Graduate"
    elif re.search(r'جونيور|بتدائى|unior|rimary|٢ب|بتدائي', value_lower):
        if re.search(r'ولي|1|١|اول', value_lower):
            return "first primary (Elementary School)"
        elif re.search(r'ثانى|٢|2|ثاني|تاني', value_lower):
            return "second primary (Elementary School)"
        elif re.search(r'ثالت|٣|3|ثالث|تالت', value_lower):
            return "third primary (Elementary School)"
        elif re.search(r'راب|٤|4|رابع', value_lower):
            return "Fourth primary (Elementary School)"
        elif re.search(r'٥|5|خمس|خامس', value_lower):
            return "fifth primary (Elementary School)"
        elif re.search(r'سات|6|سادس', value_lower):
            return "Sixth primary (Elementary School)"
        else:
            return "n/a"
    elif re.search(r'متوسط|prep|عداد', value_lower):
        if re.search(r'1|١|ول', value_lower):
            return "first Year of Middle School"
        elif re.search(r'ثاني|٢|2|ثانى|تاني', value_lower):
            return "second Year of Middle School"
        elif re.search(r'ثلاث|٣|3|ثالث|تالت', value_lower):
            return "Third Year of Middle School"
        else:
            return "n/a"
    elif re.search(r'ثانوى|ثنوي|ثانوي', value_lower):
        if re.search(r'او|1|١|ول', value_lower):
            return "first General Secondary Education"
        elif re.search(r'ثانى|٢|2|ثاني|تاني', value_lower):
            return "second General Secondary Education"
        elif re.search(r'ثالت|٣|3|ثالث|تالت', value_lower):
            return "Third General Secondary Education"
        else:
            return "n/a"
    elif re.search(r'كلي|قسم|كلى|جامع', value_lower):
        if re.search(r'1|١|ول', value_lower):
            return "First Year of High School"
        elif re.search(r'٢|2|ثاني|تانى', value_lower):
            return "second  Year of High School"
        elif re.search(r'٣|3|ثالث|تالت', value_lower):
            return "third Year of High School"
        elif re.search(r'٤|4|رابع', value_lower):
            return "Fourth Year of High School"
        else:
            return "n/a"
    elif re.search(r'كجي|كى جى|سنه|fs|حضانه|كيجي|تمهيدي|كي جي|kg|كيجى|كجى', value_lower):
        return "Kindergarten"
    
    else:
        return "n/a"

df["السنة الدراسية"] = df["السنة الدراسية"].apply(funuii)

df["السنة الدراسية"].unique()

array(['second primary (Elementary School)',
       'first primary (Elementary School)',
       'second General Secondary Education',
       'first General Secondary Education',
       'third primary (Elementary School)',
       'second Year of Middle School',
       'fifth primary (Elementary School)',
       'Sixth primary (Elementary School)', 'First Year of High School',
       'Fourth Year of High School', 'Kindergarten', 'Graduate',
       'Third General Secondary Education', 'Third Year of Middle School',
       'first Year of Middle School',
       'Fourth primary (Elementary School)', 'n/a',
       'second  Year of High School'], dtype=object)

In [11]:





import re

def funuoi(valuee):
    for i in range(len(df)):
        value = str(df.at[i, "مكان السكن"]).lower()
        if re.search(r'معادي|نصر|مستقبل|مايو|helwan|heliopolis|شيرات|مباب|شروق|sherouk|رمضان|حلوان|زينب|قاهر',value):
            df.at[i,"مكان السكن"] = "cairo"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'دمياط',value):
            df.at[i,"مكان السكن"] = "Damietta"
            df.at[i,"بلد الإقامة"] = "eygpt"  
        elif re.search(r'كتوبر',value):
            df.at[i,"مكان السكن"] = "6th of October City"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'طنطا',value):
            df.at[i,"مكان السكن"] = "Tanta"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'قنا',value):
            df.at[i,"مكان السكن"] = "Qena"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'ismailia|سماع',value):
            df.at[i,"مكان السكن"] = "Ismailia"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'زقازيق|عين شمس|شرق',value):
            df.at[i,"مكان السكن"] = "Eastern"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'سويس',value):
            df.at[i,"مكان السكن"] = "seuz"
            df.at[i,"بلد الإقامة"] = "eygpt"    
        elif re.search(r'سكمدري|سكندر|alex',value):
            df.at[i,"مكان السكن"] = "Alexandria"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'عبور|الخيمه|قليوبيه',value):
            df.at[i,"مكان السكن"] = "Qalyubia"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'جنوب سيناء',value):
            df.at[i,"مكان السكن"] = "South Sinai"
            df.at[i,"بلد الإقامة"] = "eygpt" 
        elif re.search(r'شمال سيناء',value):
            df.at[i,"مكان السكن"] = "north Sinai"
            df.at[i,"بلد الإقامة"] = "eygpt" 
        elif re.search(r'خفجي',value):
            df.at[i,"مكان السكن"] = "Khafji"
            df.at[i,"بلد الإقامة"] = "suadia arab"   
        elif re.search(r'دقهلي',value):
            df.at[i,"مكان السكن"] = "Dakahlia"
            df.at[i,"بلد الإقامة"] = "eygpt" 
        elif re.search(r'الكويت',value):
            df.at[i,"مكان السكن"] = "Kuwait"
            df.at[i,"بلد الإقامة"] = "Kuwait"
        elif re.search(r'رياض',value):
            df.at[i,"مكان السكن"] = "Riyadh"
            df.at[i,"بلد الإقامة"] = "Riyadh"
        elif re.search(r'منصورة',value):
            df.at[i,"مكان السكن"] = "Mansoura"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'شيخ زايد|فيص|جيز|هرم',value):
            df.at[i,"مكان السكن"] = "Geza"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'مصر',value):
            df.at[i,"مكان السكن"] = "eygpt"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'منيا',value):
            df.at[i,"مكان السكن"] = "Minya"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'دمام',value):
            df.at[i,"مكان السكن"] = "Dammam"
            df.at[i,"بلد الإقامة"] = "suadia arab"
        elif re.search(r'بورس',value):
            df.at[i,"مكان السكن"] = "Port Said"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'فيوم',value):
            df.at[i,"مكان السكن"] = "Faiyum"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'سويف',value):
            df.at[i,"مكان السكن"] = "Beni Suef"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'مطروح',value):
            df.at[i,"مكان السكن"] = "Marsa Matruh"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'سوان',value):
            df.at[i,"مكان السكن"] = "Aswan"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'محله|mahalla|ميت غمر',value):
                df.at[i,"مكان السكن"] = "Gharbia"
                df.at[i,"بلد الإقامة"] = "eygpt"  
        elif re.search(r'sohag',value):
            df.at[i,"مكان السكن"] = "sohag"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'مكة|haram',value):
            df.at[i,"مكان السكن"] = "mecca"
            df.at[i,"بلد الإقامة"] = "sudia arab"
        elif re.search(r'التجمع',value):
            df.at[i,"مكان السكن"] = "new cairo"
            df.at[i,"بلد الإقامة"] = "eygpt"  
        elif re.search(r'sheikh|كفرالشيخ',value):
            df.at[i,"مكان السكن"] = "Kafr al-Sheikh"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'شبرا|قليوب',value):
            df.at[i,"مكان السكن"] = "Qalyubia"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'monofiya|منوفي',value):
            df.at[i,"مكان السكن"] = "Menofia"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'طائف',value):
            df.at[i,"مكان السكن"] = "Taif"
            df.at[i,"بلد الإقامة"] = "suadia arab"
        elif re.search(r'سعودي',value):
            df.at[i,"مكان السكن"] = "suadia arab"
            df.at[i,"بلد الإقامة"] = "suadia arab"    
        elif re.search(r'اقصر',value):
            df.at[i,"مكان السكن"] = "Luxor "
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'بسيون',value):
            df.at[i,"مكان السكن"] = "Gharbia "
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'اسيوط',value):
            df.at[i,"مكان السكن"] = "Asyut "
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'سوهاج',value):
            df.at[i,"مكان السكن"] = "Sohag"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'بحيرة',value):
            df.at[i,"مكان السكن"] = "Beheira"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'swan',value):
            df.at[i,"مكان السكن"] = "Aswan"
            df.at[i,"بلد الإقامة"] = "eygpt"
        elif re.search(r'اردن',value):
            df.at[i,"مكان السكن"] = "Jordan"
            df.at[i,"بلد الإقامة"] = "Jordan"
        elif re.search(r'حولي',value):
            df.at[i,"مكان السكن"] = "Hawalli"
            df.at[i,"بلد الإقامة"] = "Kuwait"
        elif re.search(r'رأس غارب',value):
            df.at[i,"مكان السكن"] = "Red Sea"
            df.at[i,"بلد الإقامة"] = "eygpt"
        else:
            df.at[i,"مكان السكن"] = "na"
            df.at[i,"بلد الإقامة"] = "na"



# Example usage:
# Assuming i is the row index in your DataFrame
# Replace 'value' with the actual column name or value in your DataFrame

funuoi("مكان السكن")
    




df["بلد الإقامة"].unique()

array(['suadia arab', 'na', 'eygpt', 'Riyadh', 'Kuwait', 'sudia arab',
       'Jordan'], dtype=object)

In [12]:
df["مكان السكن"].unique()

array(['Khafji', 'na', 'Eastern', 'Qalyubia', 'Dakahlia', 'Damietta',
       'Riyadh', 'Kuwait', 'Geza', 'Mansoura', 'eygpt', 'Port Said',
       'Dammam', 'Minya', 'Beni Suef', 'Marsa Matruh', 'Tanta', 'cairo',
       'Gharbia', 'Qena', 'mecca', 'new cairo', 'Menofia', 'Ismailia',
       'Faiyum', 'Aswan', 'Kafr al-Sheikh', 'Alexandria',
       '6th of October City', 'Luxor ', 'Beheira', 'Asyut ', 'Sohag',
       'sohag', 'Taif', 'seuz', 'suadia arab', 'Hawalli', 'Jordan',
       'Gharbia ', 'north Sinai', 'Red Sea', 'South Sinai'], dtype=object)

In [13]:
keywords = ['القاعدة النورانية','كورس اللغة الإنجليزية' ,'كورس اللغة الألمانية', 'دبلومة البرمجة المتخصصة', 'القارئ المثقف','الرياضيات ( الماتيفيك )','مبدائ البرمجة التأسيسية','مستكشفة الألمانية','المدرسة الاونلاين','المستكشف الصغير','دبلومة الجرافكس','دبلومة الديجتال ماركتنج']

for keyword in keywords:
    df[keyword] = df["ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟"].str.contains(keyword,case=True)
df.drop("ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟", axis=1, inplace=True)
df

C:\Users\maraw\AppData\Local\Temp\ipykernel_16376\817514348.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[keyword] = df["ما هي الخدمات التعليمية التي تود الاشتراك أو الاستفسار عنها؟"].str.contains(keyword,case=True)

,السنة الدراسية,هل ترى التعليم عن بعد مفيد ومهم؟,من أين علمت عن جينيس؟,مكان السكن,بلد الإقامة,id,year,month,day,القاعدة النورانية,...,كورس اللغة الألمانية,دبلومة البرمجة المتخصصة,القارئ المثقف,الرياضيات ( الماتيفيك ),مبدائ البرمجة التأسيسية,مستكشفة الألمانية,المدرسة الاونلاين,المستكشف الصغير,دبلومة الجرافكس,دبلومة الديجتال ماركتنج
0,second primary (Elementary School),Yes,Facebook,Khafji,suadia arab,4550,2022,8,13,True,...,False,False,False,False,False,False,False,False,False,False
1,first primary (Elementary School),Yes,Facebook,na,na,4551,2022,8,13,False,...,True,False,False,False,True,False,False,True,False,False
2,second General Secondary Education,no,Facebook,Eastern,eygpt,4552,2022,8,13,False,...,False,True,False,False,False,False,False,False,False,False
3,first General Secondary Education,Yes,Facebook,na,na,4553,2022,8,13,False,...,False,False,False,False,False,False,False,False,False,False
4,third primary (Elementary School),maybe,Facebook,Qalyubia,eygpt,4554,2022,8,13,True,...,False,False,True,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Graduate,Yes,Facebook,Red Sea,eygpt,4695,2022,8,26,False,...,False,False,False,False,True,False,False,False,False,False
146,Graduate,Yes,Facebook,Ismailia,eygpt,4696,2022,8,27,True,...,True,True,True,False,True,False,True,True,True,True
147,first Year of Middle School,Yes,N/A,South Sinai,eygpt,4697,2022,8,27,False,...,False,False,False,False,False,False,False,False,False,False
148,second primary (Elementary School),maybe,Facebook,6th of October City,eygpt,4698,2022,8,27,True,...,False,False,False,False,False,False,False,False,False,False
149,Sixth primary (Elementary School),maybe,Facebook,Eastern,eygpt,4699,2022,8,27,False,...,False,True,False,False,False,False,False,False,False,False

In [14]:
import pandas as pd

# Example DataFrame
column_mapping = {
    'السنة الدراسية': 'Academic Year',
    'هل ترى التعليم عن بعد مفيد ومهم؟': 'Is Online Education Useful?',
    'من أين علمت عن جينيس؟': 'Learned About Genius From',
    'مكان السكن': 'Place of Residence',
    'بلد الإقامة': 'Country',
    'id': 'ID',
    'القاعدة النورانية': 'Qaida Nuraniya',
    'كورس اللغة الإنجليزية': 'English Language Course',
    'كورس اللغة الألمانية': 'German Language Course',
    'دبلومة البرمجة المتخصصة': 'Specialized Programming Diploma',
    'الرياضيات ( الماتيفيك )': 'Mathematics (Matific)',
    'مبدائ البرمجة التأسيسية': 'Fundamentals of Programming',
    'مستكشفة الألمانية': 'German Explorer',
    'المدرسة الاونلاين': 'Online School',
    'المستكشف الصغير': 'Little Explorer',
    'دبلومة الجرافكس': 'Graphics Diploma',
    'دبلومة الديجتال ماركتنج': 'Digital Marketing Diploma',
    'القارئ المثقف':"Cultured Reader"

}

# Rename columns using the mapping dictionary
df = df.rename(columns=column_mapping)





# Display the updated DataFrame
print(df)

                          Academic Year Is Online Education Useful?  \
0    second primary (Elementary School)                         Yes
1     first primary (Elementary School)                         Yes
2    second General Secondary Education                          no
3     first General Secondary Education                         Yes
4     third primary (Elementary School)                       maybe
..                                  ...                         ...
145                            Graduate                         Yes
146                            Graduate                         Yes
147         first Year of Middle School                         Yes
148  second primary (Elementary School)                       maybe
149   Sixth primary (Elementary School)                       maybe

    Learned About Genius From   Place of Residence      Country    ID  year  \
0                    Facebook               Khafji  suadia arab  4550  2022
1                    Facebook                   na           na  4551  2022
2                    Facebook              Eastern        eygpt  4552  2022
3                    Facebook                   na           na  4553  2022
4                    Facebook             Qalyubia        eygpt  4554  2022
..                        ...                  ...          ...   ...   ...
145                  Facebook              Red Sea        eygpt  4695  2022
146                  Facebook             Ismailia        eygpt  4696  2022
147                       N/A          South Sinai        eygpt  4697  2022
148                  Facebook  6th of October City        eygpt  4698  2022
149                  Facebook              Eastern        eygpt  4699  2022

     month  day  Qaida Nuraniya  ...  German Language Course  \
0        8   13            True  ...                   False
1        8   13           False  ...                    True
2        8   13           False  ...                   False
3        8   13           False  ...                   False
4        8   13            True  ...                   False
..     ...  ...             ...  ...                     ...
145      8   26           False  ...                   False
146      8   27            True  ...                    True
147      8   27           False  ...                   False
148      8   27            True  ...                   False
149      8   27           False  ...                   False

     Specialized Programming Diploma  Cultured Reader  Mathematics (Matific)  \
0                              False            False                  False
1                              False            False                  False
2                               True            False                  False
3                              False            False                  False
4                              False             True                  False
..                               ...              ...                    ...
145                            False            False                  False
146                             True             True                  False
147                            False            False                  False
148                            False            False                  False
149                             True            False                  False

     Fundamentals of Programming  German Explorer  Online School  \
0                          False            False          False
1                           True            False          False
2                          False            False          False
3                          False            False          False
4                           True            False          False
..                           ...              ...            ...
145                         True            False          False
146                         True            False           True
147                        False            False          False
148                        False            False          False
149                        False            False          False

     Little Explorer  Graphics Diploma  Digital Marketing Diploma
0              False             False                      False
1               True             False                      False
2              False             False                      False
3              False             False                      False
4               True             False                      False
..               ...               ...                        ...
145            False             False                      False
146             True              True                       True
147            False             False                      False
148            False             False                      False
149            False             False                      False

[150 rows x 21 columns]

In [12]:
df

,Academic Year,Is Online Education Useful?,Learned About Genius From,Place of Residence,Country,ID,year,month,day,Qaida Nuraniya,...,German Language Course,Specialized Programming Diploma,Cultured Reader,Mathematics (Matific),Fundamentals of Programming,German Explorer,Online School,Little Explorer,Graphics Diploma,Digital Marketing Diploma
0,second primary (Elementary School),yes,Facebook,Khafji,suadia arab,4550,2022,8,13,True,...,False,False,False,False,False,False,False,False,False,False
1,first primary (Elementary School),yes,Facebook,na,na,4551,2022,8,13,False,...,True,False,False,False,True,False,False,True,False,False
2,second General Secondary Education,no,Facebook,Eastern,eygpt,4552,2022,8,13,False,...,False,True,False,False,False,False,False,False,False,False
3,first General Secondary Education,yes,Facebook,na,na,4553,2022,8,13,False,...,False,False,False,False,False,False,False,False,False,False
4,third primary (Elementary School),maybe,Facebook,Qalyubia,eygpt,4554,2022,8,13,True,...,False,False,True,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Graduate,yes,Facebook,Red Sea,eygpt,4695,2022,8,26,False,...,False,False,False,False,True,False,False,False,False,False
146,Graduate,yes,Facebook,Ismailia,eygpt,4696,2022,8,27,True,...,True,True,True,False,True,False,True,True,True,True
147,first Year of Middle School,yes,N/A,South Sinai,eygpt,4697,2022,8,27,False,...,False,False,False,False,False,False,False,False,False,False
148,second primary (Elementary School),maybe,Facebook,6th of October City,eygpt,4698,2022,8,27,True,...,False,False,False,False,False,False,False,False,False,False
149,Sixth primary (Elementary School),maybe,Facebook,Eastern,eygpt,4699,2022,8,27,False,...,False,True,False,False,False,False,False,False,False,False

In [153]:
df.to_csv('maro_cleand1.csv')